html, body {
    height: 100%;
    margin: 0;
    background-color: #eee;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 60px 0px 60px 0px;
    box-sizing: border-box;
}

.nav{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hard{
    color: red;
}

.win{
    background-color: rgb(34, 190, 34);
}

.win:hover{
    background-color: rgb(30, 165, 30);
}

.lose{
    background-color: red;
}

.lose:hover{
    background-color: rgb(194, 16, 16);
}

h1 {
    font-size: 48px;
    margin-bottom: 32px;
    text-align: center;
    color: #333;
}
.diff{
    width: 50%;
    text-align: center;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
    font-size: large;
}

.footer{
    height: 240px;
}

.madeby{
    text-decoration: none;
    display: block;
    color: #555;
}

#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-bottom: 32px;
}

#board-container {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    height: 340px;
    margin: auto;
    margin-left: 85px;
}

button {
    font-size: 80px;
    width: 100px;
    height: 100px;
    color: transparent;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}

button:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

button:active{
    background-color: #dedede;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    transform: scale(0.95);
}

button:focus {
    outline: none;
}
#result {
    font-size: 36px;
    text-align: center;
    color: #333;
    padding-bottom: 32px;
}

#replay {
    font-size: 24px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#replay:hover {
    background-color: #111;
}

#replay:focus {
    outline: none;
}

#rules-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rules-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 125px;
    font-size: 0.8em;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
}

#rules-btn span {
    display: inline-block;
    margin: 5px 0;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
}

.btn_classic:active{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.btnswal{
    height: 30px;
    background-color: #555 !important;
    line-height: 10px;
}
.swal2-confirm:focus {
    box-shadow: none !important;
}

.swal-text{
    text-align: left;
}

.turn{
    padding: 5px 0px 5px 0px;
}

/*